
<header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url({{ asset('images/img_bg_1.jpg') }} )">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc">

                        <h1 class="animate-box" data-animate-effect="fadeInUp">Zarejestruj się w naszym CRM</h1>
                        <h2 class="animate-box" data-animate-effect="fadeInUp">Za darmo korzystaj do trzech miesięcy i wypróbuj możlwiści systemu.</h2>

                    </div>
                </div>
            </div>
        </div>

    </div>
</header>

