{% extends "InfogoldStronaBundle:Default:index.html.twig" %}
{% block content %} 
{% trans_default_domain 'FOSUserBundle' %}
<div class="gtco-section row">
    <div class="gtco-container">

        <h3>
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        </h3>

    </div>
</div>  
{% endblock content %} 