{% extends "InfogoldStronaBundle:Default:index.html.twig" %}
{% block content %} 
{% trans_default_domain 'FOSUserBundle' %}
    <div class="gtco-section row">

        <div class="gtco-container">

            <div class="col-md-8 animate-box col-md-offset-3">

{{ 'resetting.password_already_requested'|trans }}
            </div></div></div>
{% endblock content %} 