{% block footer %}
    <!-- footer content -->
    
    <footer>
        <div class="pull-right">
            kobisoft.pl -  Web Application
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}